<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <meta charset="UTF-8">
    <title>正在下载</title>
</head>
<body>
<div class="row-fluid">
    <div class="span6">
        <ul class="breadcrumb">
            <li style="color: red">
                <font size="4">
                    <strong>正在下载请稍后</strong>
                </font>
                <span class="divider">/</span>
            </li>
        </ul>
    </div>
</div>

</body>
</html>